body{
   background-color: #F2F2F2 !important;
}
.aboutMe{
   margin: 0 auto;
   color: #F2F2F2;
   background-color: #2D2D2D;
   height: 75vh;
   width: 75vw;
   position: relative;
   margin-top: 5%;
}
.name{
   display: inline-block;
   margin-left: 2%;
}
.location{
   display: inline-block;
   margin-left: 20%;
}
.aboutMeBody{
   margin-left: 2%;
   margin-right: 30%;
}
.bio{
   font-size: 24px;
}
.sectionTitle{
   margin-top: 5%;
   margin-bottom: 2%;
}
.skill-title{
   font-size: 36px;
   font-family: 'Gruppo', cursive;
   margin-top: 8%;
   margin-bottom: 10%;
}
.skillsBody{
   margin-left: 2%;
   display: relative;
   width: 50%;
}
.programmingDiv, .designDiv{
   display: absolute;
   text-align: center;
   width: 50%;
}
.programmingDiv{
   float: left;
}
.designDiv{
   float: right;
}
.icon{
   width: 37px;
   height: 36px;
}
.aboutMeImg{
   position: absolute;
   bottom: 5px;
   right: -200px;
   opacity: 1;
}
@media(max-width: 1000px){
   .aboutmeImg{
      opacity: 0;
   }
}