.card-deck{
   width: 100vw;
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.card{
   display: grid;
   grid-template-columns: 350px;
   grid-template-rows: 250px 170px 80px;
   grid-template-areas: "image" "text" "btns";
   margin: 2vw;
   border-radius: 20px;
   background: #F2F2F2;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
   text-align: center;
}
.card-image{
   grid-area: image;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   background-position: center;
   background-size: cover;
}
.card-text{
   grid-area: text;
}
.card-text h2{
   font-size: 30px;
   margin-top: 2vh;
}
.card-text p{
   font-size: 14px;
   font-weight: 200;
   margin-top: 1.25vh;
}
.card-btns{
   grid-area: btns;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   background: #2D2D2D;
}
.card-btns .btn{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 10px;
   text-decoration: none;
   color: #F2F2F2;
}
.btn .icon{
   font-size: 20px;
}
.btn .value{
   font-size: 14px;
   text-transform: uppercase;
}
.card-btns .border{
   border-left: 1px solid black;
   border-right: 1px solid black;
}
.tooltip{
   position: relative;
   display: inline-block;
}
.tooltip:hover{
   cursor: pointer;
}
.tooltip .tooltiptext{
   visibility: hidden;
   width: 250px;
   background-color: #2D2D2D;
   color: #F2F2F2;
   text-align: center;
   font-size: 12px;
   padding: 5px 0;
   border-radius: 6px;

   position: absolute;
   z-index: 1;
   top: 250%;
   left: 50%;
   margin-left: -125px;

   opacity: 0;
   transition: 0.3s;
}
.tooltip .tooltiptext::after{
   content: "";
   position: absolute;
   bottom: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent #2D2D2D transparent;
}
.tooltip:hover .tooltiptext{
   visibility: visible;
   opacity: 1;
}
@media (max-width: 500px){
   .card-deck{
      display: block;
      overflow: scroll;
   }
   .card{
      grid-template-columns: 360px;
   }
}