.empty{
   background-image: url("../images/portfolio/placeholder-img.png");
   background-position: center;
   background-size: cover;
}
.weatherDash{
   background-image: url("../images/portfolio/weatherBoard.png");
   background-position: center;
   background-size: cover;
}
.passGen{
   background-image: url("../images/portfolio/passwordGen.png");
   background-position: center;
   background-size: cover;
}
.budget_tracker{
   background-image: url("../images/portfolio/budgetTracker.png");
   background-position: center;
   background-size: cover;
}