.empty{
   background-image: url("../images/portfolio/placeholder.png");
}
.weatherDash{
   background-image: url("../images/portfolio/weatherBoard.png");
}
.passwordGen{
   background-image: url("../images/portfolio/passwordGen.png");
}
.budgetTracker{
   background-image: url("../images/portfolio/budgetTracker.png");
}
.parkDash{
   background-image: url("../images/portfolio/parkDash.jpg");
}
.pandemicTracker{
   background-image: url("../images/portfolio/pandemicTracker.png")
}