*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   overflow-x: hidden;
}
body::-webkit-scrollbar{
   display: none;
}
/* Styling for navbar */
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 8vh;
   width: 100%;
   background-color: #2D2D2D;
   font-family: 'MetroDF', sans-serif;
}
.logo{
   text-decoration: none;
   color: #F2F2F2;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 18pt;
}
.nav-items{
   list-style: none;
   display: flex;
   justify-content: space-around;
   width: 40%;
}
.nav-items a{
   color: #979797;
   text-decoration: none;
   letter-spacing: 3px;
   font-size: 18px;
   font-weight: bold;
}
.nav-items a.current{
   color: #F2F2F2;
}
@media (max-width: 1000px){
   body{
      overflow-x: hidden;
   }
   .logo{
      font-size: 1vh;
   }
   .nav-items a{
      font-size: 2vh;
   }
   .nav-items a .text{
      display: none;
   }
}
/* Text Styling */
.title{
   font-family: 'Gruppo', cursive;
   font-size: 55pt;
}
.sub-title{
   font-family: 'Gruppo', cursive;
   font-size: 30pt;
}
p{
   font-family: 'Cabin', sans-serif;
   font-size: 16pt;
}