/* Styling for header bar */
span{
   color: transparent;
   font-family: 'Righteous', cursive;
   position: relative;
   top: 20%;
   left: 20%;
   font-size: 75px;
   text-align: center;
   font-weight: bold;
   background-image: linear-gradient(
      to right, 
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
   );
   -webkit-background-clip: text;
}
h2{
   font-family: 'Kufam', cursive;
}
p{
   font-family: 'Raleway', sans-serif;
}
header{
   background-color: black;
   top: 0%;
   width: 100%;
}
/* Styling for navbar */
footer{
   position: fixed;
   bottom: 0%;
   width: 100%;
}
img{
   width: 250px;
}
.image{
   width: 300px;
}
.logo{
   width: 225px;
   height: 90px;
   object-fit: cover;
   object-position: center;
   zoom: 2;
}
.bio{
   width: 400px;
}
.contact{
   width: 300px;
}