h1{
   font-family: 'Righteous', cursive;
}
h2{
   font-family: 'Kufam', cursive;
}
p{
   font-family: 'Raleway', sans-serif;
}
header{
   color: whitesmoke;
   background-color: gray;
   text-align: center;
   font-size: xx-large;
   padding-top: 20px;
   padding-bottom: 15px;
   margin-top: -20px;
   margin-left: -15px;
   margin-right: -15px;
}
footer{
   position: fixed;
   bottom: 0%;
   width: 100%;
}
img{
   width: 250px;
}
.link{
   color: red;
}
.clearfix::after{
   content: " ";
   display: block;
   clear: both;
}
.container{
   width: 1000px;
   margin: 0 auto;
}
section{
   float: left
}
.image{
   width: 300px;
}
.bio{
   width: 400px;
}
.contact{
   width: 300px;
}